@model SimpleCourseManagement.Models.TraineeCourse

@{
    if (Session["UserDetailsId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if (Convert.ToInt32(Session["UserRoleId"]) == 2)
    {
        Response.Redirect("~/Login/Index");
    }
    ViewBag.Title = "Details";
}
<div class="col-md-6">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Trainee Details</div>
        </div>
        <div class="panel-body">
            <fieldset>
                <img style="padding-left:100px;" src="@Url.Content(Model.Trainee.TraineeImage)" width="250" height="150"/>
                <br /><br />
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.TraineeCode)*@
                        <label>Trainee Code:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TraineeCode)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.TraineeName)*@
                        <label>Trainee Name:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.TraineeName)
                    </dd>
                    
                    @*<dt>
                        @Html.DisplayNameFor(model => model.TraineeImage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TraineeImage)
                    </dd>*@

                    <dt>
                        @*@Html.DisplayNameFor(model => model.FatherName)*@
                        <label>Father Name:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.FatherName)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.MotherName)*@
                        <label>Mother Name:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.MotherName)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.Gender)*@
                        <label>Gender:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.Gender)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.Age)*@
                        <label>Age:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.Age)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.Address)*@
                        <label>Address:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.Address)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.ContactNumber)*@
                        <label>Contact No:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.ContactNumber)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.Email)*@
                        <label>Email:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.Email)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.NationalIdCard)*@
                        <label>NID:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trainee.NationalIdCard)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Result)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Result)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.CreatedDateTime)*@
                        <label>Created Date:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDateTime)
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.Batch.BatchCode)*@
                        <label>Batch Code:</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Batch.BatchCode)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.UserDetail.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserDetail.UserName)
                    </dd>*@

                </dl>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </fieldset>
        </div>
    </div>
</div>
