<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet" />
    <link href="~/vendors/select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/vendors/tags/css/bootstrap-tags.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/css/forms.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_TopNavigation")
    <div class="page-content">
        <div class="row">
            @Html.Partial("_LeftSideMenu")
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Footer")

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>
    <script src="~/vendors/select/bootstrap-select.min.js"></script>
    <script src="~/vendors/tags/js/bootstrap-tags.min.js"></script>
    <script src="~/vendors/mask/jquery.maskedinput.min.js"></script>
    <script src="~/vendors/moment/moment.min.js"></script>
    <script src="~/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/forms.js"></script>
    <script src="~/js/tables.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#CourseId').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Trainees/GetAllBatchesByCourseId",
                    data: { courseId: $('#CourseId').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var batches = "<select id=''>";
                        batches = batches + '<option value="">Select One</option>';
                        for (var i = 0; i < data.length; i++) {
                            batches = batches + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        batches = batches + '</select>';
                        $('#BatchId').html(batches);
                    }
                });
            });
        });
    </script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#traineeSearchButton").click(function () {
                //alert("button clicked.");
                $.ajax({
                    type: "post",
                    url: "/Trainees/GetAllTraineeByBatchId",
                    data: { batchId: $('#BatchId').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var traineeList = "<thead><tr><th>Trainee</th><th>Reg.No.</th><th>Phone</th><th>Email</th><th>NID</th><th>Grade</th><th>Details</th><th>Certificate</th><tr></thead>";
                        traineeList = traineeList + '<tbody>';
                        //for (var i = 0; i < data.length; i++) {
                        //    traineeList += '<tr class="odd gradeX"><td>"' + value.TraineeName + '"</td><td>"' + value.TraineeCode + '"</td><td>"' + value.ContactNumber + '"</td><td>"' + value.Email + '"</td><td>"' + value.NationalIdCard + '"</td><td>"' + value.Result + '"</td><td><a class="btn btn-primary btn-sm" href="">Details</a></td><td><a class="btn btn-primary btn-sm" href="">Certificate</a></td></tr>';
                        //}
                        $.each(data, function (key, value) {
                            traineeList += '<tr class="odd gradeX"><td>"' + value.TraineeName + '"</td><td>"' + value.TraineeCode + '"</td><td>"' + value.ContactNumber + '"</td><td>"' + value.Email + '"</td><td>"' + value.NationalIdCard + '"</td><td>"' + value.Result + '"</td><td><a class="btn btn-primary btn-sm" href="">Details</a></td><td><a class="btn btn-primary btn-sm" href="">Certificate</a></td></tr>';
                        });
                        traineeList = traineeList + '</tbody>';
                        $('#example').html(traineeList);
                    }
                });
            });
        });
    </script>*@
    @*<script>
            $(document).ready(function () {
                LoadCourses();
            });
            function LoadCourses() {
                $.ajax({
                    url: "/Courses/GetAllCourses",
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        var optionTag = "";
                        optionTag += '<option value= "">Select One</option>';
                        for (var i = 0; i < response.length; i++) {
                            optionTag += '<option value="' + response[i].CourseId + '">' + response[i].CourseCode + '</option>';
                        }
                        $("#CourseId").html(optionTag);
                    },
                    error: function (xhr) {
                    }
                });
            }
        </script>*@

</body>
</html>
